<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title>Express Starter</title>

  <!-- Fonts -->
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
  <link href="//fonts.gstatic.com" rel="dns-prefetch">

  <!-- Styles -->
  <link href="css/app.css" rel="stylesheet">
</head>
<body>
<div id="app">
  <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        Express Starter
      </a>

      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left Side Of Navbar -->
        <form accept-charset="UTF-8" action="http://localhost:8000/login" class="form-inline" method="GET">

          <input aria-label="Search" class="form-control mr-sm-2" name="query" placeholder="Search..." type="text">

        </form>

        <ul class="navbar-nav mr-auto">

        </ul><!-- / Left Side of Navbar -->

        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav ml-auto">
          <!-- Guest Links -->
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <!-- /Guest Links -->

          <!-- User Links -->
          <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
               id="navbarDropdown" role="button" v-pre>
              Logged in as <strong>John Doe</strong><span class="caret"></span>
            </a>

            <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#"
                 onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                Logout
              </a>

              <form action="/logout" id="logout-form" method="POST" style="display: none;">
                <!-- @csrf -->
              </form>
            </div>
          </li>
          <!-- /User Links -->
        </ul>
      </div>
    </div>
  </nav>

  <main class="py-4">

    {% block content %}{% endblock %}

  </main>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
